In [1]:
# Import
import pandas as pd

In [2]:
# Original CSV to DataFrame
full_df = pd.read_csv("Listing_of_Active_Businesses.csv")
full_df.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
0,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,2015 TEMPLE 90026-4913,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",13,01/01/1991,NaN,NaN
1,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,1605 OLYMPIC 90015-3828,NaN,NaN,NaN,523900.0,Other financial investment activities (includi...,1,02/01/1999,NaN,NaN
2,0002842614-0001-2,AUSTIN B CREEK,NaN,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,3610 MAGNOLIA 91505-2913,NaN,NaN,NaN,711510.0,"Independent artists, writers, & performers",0,09/01/2008,NaN,"(34.168, -118.3463)"
3,0003176540-0001-1,SOEUNG CHAING,CAFECAFE,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,1330 PACIFIC COAST 90744-2467,NaN,NaN,NaN,722211.0,Limited-service eating places,15,01/01/2020,NaN,"(33.7901, -118.2804)"
4,0002728984-0001-8,MARIA ALVAREZ,NaN,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,9625 SYLMAR 91402-1153,NaN,NaN,NaN,561720.0,Janitorial services,6,01/01/2013,NaN,"(34.2447, -118.4476)"

In [3]:
# Column Renames
full_df = full_df.rename(columns={"PRIMARY NAICS DESCRIPTION": "DESCRIPTION", "LOCATION": "COORDINATES", "ZIP CODE":"ZIPCODE"})

In [4]:
# Column reorder
Cleaned_df = full_df[["BUSINESS NAME", "STREET ADDRESS", "CITY", "ZIPCODE","NAICS","DESCRIPTION", "LOCATION START DATE","COORDINATES"]]
# Data Error Repaired
Cleaned_df = Cleaned_df.replace("A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C",'A A OFICINA CENTRAL HISPANA DE LOS ANGELES')

In [6]:
#Drop Nan
Cleaned_df.dropna(how="any", inplace=True)
Cleaned_df

,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,LOCATION START DATE,COORDINATES
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"(34.168, -118.3463)"
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"(33.7901, -118.2804)"
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"(34.2447, -118.4476)"
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"(33.9603, -118.4471)"
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"(34.0528, -118.4699)"
...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,New York,10122-1800,711510.0,"Independent artists, writers, & performers",03/09/2008,"(40.7519, 40.7519)"
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,02/28/2023,"(34.2431, -118.4112)"
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,Valley Village,91607-3704,531390.0,Other activities related to real estate,07/28/2021,"(34.1604, 34.1604)"
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,Los Angeles,90065-1112,454390.0,Other direct selling establishments (including...,02/10/2023,"(34.0953, 34.0953)"
572694,BRIXTON LLC,12192 Ventura,Studio City,91604-2517,448190.0,Other Clothing Stores,12/17/2022,"(34.143, 34.143)"

In [7]:
# Seperating the Naics into just the Sector level
import math

def first_two(d):                
     return (d // 10 ** (int(math.log(d, 10)) - 1))

Cleaned_df['NAICS SECTOR'] = Cleaned_df.NAICS.apply(first_two)
Cleaned_df.head()

,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,LOCATION START DATE,COORDINATES,NAICS SECTOR
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"(34.168, -118.3463)",71.0
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"(33.7901, -118.2804)",72.0
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"(34.2447, -118.4476)",56.0
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"(33.9603, -118.4471)",44.0
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"(34.0528, -118.4699)",62.0

In [8]:
# Removing () and spliting coordinates into lat and lng
Cleaned_df['COORDINATES'] = Cleaned_df['COORDINATES'].str.replace('(', '',regex=True)
Cleaned_df['COORDINATES'] = Cleaned_df['COORDINATES'].str.replace(')', '',regex=True)
Cleaned_df[['Lat', 'Lng']] = Cleaned_df.COORDINATES.str.split(",", expand = True)

In [9]:
# Dropping Duplicates
Cleaned_df.drop_duplicates()

,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,LOCATION START DATE,COORDINATES,NAICS SECTOR,Lat,Lng
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"34.168, -118.3463",71.0,34.168,-118.3463
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"33.7901, -118.2804",72.0,33.7901,-118.2804
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"34.2447, -118.4476",56.0,34.2447,-118.4476
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"33.9603, -118.4471",44.0,33.9603,-118.4471
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"34.0528, -118.4699",62.0,34.0528,-118.4699
...,...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,New York,10122-1800,711510.0,"Independent artists, writers, & performers",03/09/2008,"40.7519, 40.7519",71.0,40.7519,40.7519
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,02/28/2023,"34.2431, -118.4112",81.0,34.2431,-118.4112
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,Valley Village,91607-3704,531390.0,Other activities related to real estate,07/28/2021,"34.1604, 34.1604",53.0,34.1604,34.1604
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,Los Angeles,90065-1112,454390.0,Other direct selling establishments (including...,02/10/2023,"34.0953, 34.0953",45.0,34.0953,34.0953
572694,BRIXTON LLC,12192 Ventura,Studio City,91604-2517,448190.0,Other Clothing Stores,12/17/2022,"34.143, 34.143",44.0,34.143,34.143

In [10]:
# Seperating Zipcode to just district area
Cleaned_df[['ZIPCODE1', 'Place Zip']] = Cleaned_df.ZIPCODE.str.rsplit("-",n=1, expand = True)
Cleaned_df

,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,LOCATION START DATE,COORDINATES,NAICS SECTOR,Lat,Lng,ZIPCODE1,Place Zip
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"34.168, -118.3463",71.0,34.168,-118.3463,91505,2913
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"33.7901, -118.2804",72.0,33.7901,-118.2804,90744,2467
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"34.2447, -118.4476",56.0,34.2447,-118.4476,91402,1153
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"33.9603, -118.4471",44.0,33.9603,-118.4471,90293,7770
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"34.0528, -118.4699",62.0,34.0528,-118.4699,90049,6639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,New York,10122-1800,711510.0,"Independent artists, writers, & performers",03/09/2008,"40.7519, 40.7519",71.0,40.7519,40.7519,10122,1800
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,02/28/2023,"34.2431, -118.4112",81.0,34.2431,-118.4112,91331,6801
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,Valley Village,91607-3704,531390.0,Other activities related to real estate,07/28/2021,"34.1604, 34.1604",53.0,34.1604,34.1604,91607,3704
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,Los Angeles,90065-1112,454390.0,Other direct selling establishments (including...,02/10/2023,"34.0953, 34.0953",45.0,34.0953,34.0953,90065,1112
572694,BRIXTON LLC,12192 Ventura,Studio City,91604-2517,448190.0,Other Clothing Stores,12/17/2022,"34.143, 34.143",44.0,34.143,34.143,91604,2517

In [12]:
# Fixing lat lng datatypes
Cleaned_df["Lat"] = pd.to_numeric(Cleaned_df["Lat"])
Cleaned_df["Lng"] = pd.to_numeric(Cleaned_df["Lng"])
Cleaned_df.dtypes

BUSINESS NAME           object
STREET ADDRESS          object
CITY                    object
ZIPCODE                 object
NAICS                  float64
DESCRIPTION             object
LOCATION START DATE     object
COORDINATES             object
NAICS SECTOR           float64
Lat                    float64
Lng                    float64
ZIPCODE1                object
Place Zip               object
dtype: object

In [13]:
# Making City names matching format
Cleaned_df['CITY'] = Cleaned_df.loc[:,'CITY'].str.upper()
Cleaned_df

,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,LOCATION START DATE,COORDINATES,NAICS SECTOR,Lat,Lng,ZIPCODE1,Place Zip
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"34.168, -118.3463",71.0,34.1680,-118.3463,91505,2913
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"33.7901, -118.2804",72.0,33.7901,-118.2804,90744,2467
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"34.2447, -118.4476",56.0,34.2447,-118.4476,91402,1153
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"33.9603, -118.4471",44.0,33.9603,-118.4471,90293,7770
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"34.0528, -118.4699",62.0,34.0528,-118.4699,90049,6639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,NEW YORK,10122-1800,711510.0,"Independent artists, writers, & performers",03/09/2008,"40.7519, 40.7519",71.0,40.7519,40.7519,10122,1800
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,02/28/2023,"34.2431, -118.4112",81.0,34.2431,-118.4112,91331,6801
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,VALLEY VILLAGE,91607-3704,531390.0,Other activities related to real estate,07/28/2021,"34.1604, 34.1604",53.0,34.1604,34.1604,91607,3704
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,LOS ANGELES,90065-1112,454390.0,Other direct selling establishments (including...,02/10/2023,"34.0953, 34.0953",45.0,34.0953,34.0953,90065,1112
572694,BRIXTON LLC,12192 Ventura,STUDIO CITY,91604-2517,448190.0,Other Clothing Stores,12/17/2022,"34.143, 34.143",44.0,34.1430,34.1430,91604,2517

In [15]:
# Adding an ID column for SQL use
Cleaned_df['ID'] = Cleaned_df.index
Cleaned_df = Cleaned_df[["ID","BUSINESS NAME", "STREET ADDRESS", "CITY", "ZIPCODE1","NAICS","DESCRIPTION", "NAICS SECTOR", "LOCATION START DATE","COORDINATES","Lat","Lng"]]
Cleaned_df

,ID,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE1,NAICS,DESCRIPTION,NAICS SECTOR,LOCATION START DATE,COORDINATES,Lat,Lng
2,2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505,711510.0,"Independent artists, writers, & performers",71.0,09/01/2008,"34.168, -118.3463",34.1680,-118.3463
3,3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744,722211.0,Limited-service eating places,72.0,01/01/2020,"33.7901, -118.2804",33.7901,-118.2804
4,4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402,561720.0,Janitorial services,56.0,01/01/2013,"34.2447, -118.4476",34.2447,-118.4476
5,5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293,448150.0,Clothing accessories stores,44.0,05/12/2021,"33.9603, -118.4471",33.9603,-118.4471
9,9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049,621399.0,Offices of all other miscellaneous health prac...,62.0,03/03/1999,"34.0528, -118.4699",34.0528,-118.4699
...,...,...,...,...,...,...,...,...,...,...,...,...
572688,572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,NEW YORK,10122,711510.0,"Independent artists, writers, & performers",71.0,03/09/2008,"40.7519, 40.7519",40.7519,40.7519
572689,572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331,812990.0,All other personal services,81.0,02/28/2023,"34.2431, -118.4112",34.2431,-118.4112
572690,572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,VALLEY VILLAGE,91607,531390.0,Other activities related to real estate,53.0,07/28/2021,"34.1604, 34.1604",34.1604,34.1604
572692,572692,SPOMAX INTERNATIONAL INC,1201 Cypress,LOS ANGELES,90065,454390.0,Other direct selling establishments (including...,45.0,02/10/2023,"34.0953, 34.0953",34.0953,34.0953
572694,572694,BRIXTON LLC,12192 Ventura,STUDIO CITY,91604,448190.0,Other Clothing Stores,44.0,12/17/2022,"34.143, 34.143",34.1430,34.1430

In [23]:
# Building Sector Dataframe
d={"NAICS SECTOR":[11.0,21.0,22.0,23.0,31.0,32.0,33.0,42.0,44.0,45.0,48.0,49.0,51.0,52.0,53.0,54.0,55.0,56.0,61.0,62.0,71.0,72.0,81.0,92.0],
                              "INDUSTRY DESCRIPTION":["Agriculture, Forestry, Fishing and Hunting","Mining, Quarrying, and Oil and Gas Extraction",
                                                     "Utilities","Construction","Manufacturing","Manufacturing","Manufacturing","Wholesale Trade",
                                                     "Retail Trade","Retail Trade","Transportation and Warehousing","Transportation and Warehousing",
                                                     "Information", "Finance and Insurance", "Real Estate and Rental and Leasing", "Professional, Scientific, and Technical Services",
                                                     "Management of Companies and Enterprises", "Administrative and Support and Waste Management and Remediation Services",
                                                     "Educational Services","Health Care and Social Assistance","Arts, Entertainment, and Recreation",
                                                     "Accommodation and Food Services","Other Services (except Public Administration)","Public Administration"]}
Sector_df = pd.DataFrame(data=d)
Sector_df

    NAICS SECTOR                               INDUSTRY DESCRIPTION
0           11.0         Agriculture, Forestry, Fishing and Hunting
1           21.0      Mining, Quarrying, and Oil and Gas Extraction
2           22.0                                          Utilities
3           23.0                                       Construction
4           31.0                                      Manufacturing
5           32.0                                      Manufacturing
6           33.0                                      Manufacturing
7           42.0                                    Wholesale Trade
8           44.0                                       Retail Trade
9           45.0                                       Retail Trade
10          48.0                     Transportation and Warehousing
11          49.0                     Transportation and Warehousing
12          51.0                                        Information
13          52.0                              Finance and Insurance
14          53.0                 Real Estate and Rental and Leasing
15          54.0   Professional, Scientific, and Technical Services
16          55.0            Management of Companies and Enterprises
17          56.0  Administrative and Support and Waste Managemen...
18          61.0                               Educational Services
19          62.0                  Health Care and Social Assistance
20          71.0                Arts, Entertainment, and Recreation
21          72.0                    Accommodation and Food Services
22          81.0      Other Services (except Public Administration)
23          92.0                              Public Administration

In [21]:
# Tables to CSV
Sector_df.to_csv("sectors.csv", index=False)
Cleaned_df.to_csv("BusinessData_cleaned.csv", index=False)

In [24]:
# Joining information
merged_df = pd.merge(Cleaned_df, Sector_df, on='NAICS SECTOR', how='inner')
merged_df

,ID,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE1,NAICS,DESCRIPTION,NAICS SECTOR,LOCATION START DATE,COORDINATES,Lat,Lng,INDUSTRY DESCRIPTION
0,2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505,711510.0,"Independent artists, writers, & performers",71.0,09/01/2008,"34.168, -118.3463",34.1680,-118.3463,"Arts, Entertainment, and Recreation"
1,17,SANDRA GUADIANA,4220 MAYCREST AVENUE,LOS ANGELES,90032,711510.0,"Independent artists, writers, & performers",71.0,11/24/2012,"34.0934, -118.1612",34.0934,-118.1612,"Arts, Entertainment, and Recreation"
2,25,MOST IMPROVED INC,1116 N LIMA STREET,BURBANK,91505,711510.0,"Independent artists, writers, & performers",71.0,06/27/2013,"34.1713, -118.3448",34.1713,-118.3448,"Arts, Entertainment, and Recreation"
3,30,BURNING FILM PRODUCTION LLC,2931 TILDEN AVENUE,LOS ANGELES,90064,711100.0,Performing arts companies,71.0,06/26/2015,"34.029, -118.4275",34.0290,-118.4275,"Arts, Entertainment, and Recreation"
4,46,RED HERRING ENTERTAINMENT INC,3142 ROWENA AVENUE #4,LOS ANGELES,90027,711510.0,"Independent artists, writers, & performers",71.0,10/27/2015,"34.1101, -118.2725",34.1101,-118.2725,"Arts, Entertainment, and Recreation"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487922,569162,E & B NATURAL RESOURCES MANAGEMENT CORPORATION,2126 W ADAMS BLVD,LOS ANGELES,90018,211110.0,Oil & gas extraction,21.0,10/16/2019,"34.0319, -118.3125",34.0319,-118.3125,"Mining, Quarrying, and Oil and Gas Extraction"
487923,570318,AVFUEL CORP,47 W ELLSWORTH ROAD,ANN ARBOR,48108,211110.0,Oil & gas extraction,21.0,04/21/2009,"42.2296, -83.73",42.2296,-83.7300,"Mining, Quarrying, and Oil and Gas Extraction"
487924,32719,"SPARK ENERGY GAS, LLC",12140 WICKCHESTER LANE SUITE #100,HOUSTON,77079,221000.0,Utilities,22.0,08/01/2019,"29.789, -95.6017",29.7890,-95.6017,Utilities
487925,361542,"CALIFORNIA PV ENERGY, LLC",112 E 22ND STREET,SAN PEDRO,90731,221000.0,Utilities,22.0,06/30/2015,"33.7245, -118.2843",33.7245,-118.2843,Utilities
487926,506225,"LONE PINE TELEVISION, INC.",223 N JACKSON STREET,LONE PINE,93545,221000.0,Utilities,22.0,01/01/2014,"36.6071, -118.0631",36.6071,-118.0631,Utilities

In [28]:
# Reordering of DataFrame
Final_df = merged_df[["ID","BUSINESS NAME", "STREET ADDRESS", "CITY", "ZIPCODE1", "NAICS SECTOR", "INDUSTRY DESCRIPTION", "LOCATION START DATE","COORDINATES","Lat","Lng"]]
Final_df

,ID,BUSINESS NAME,STREET ADDRESS,CITY,ZIPCODE1,NAICS SECTOR,INDUSTRY DESCRIPTION,LOCATION START DATE,COORDINATES,Lat,Lng
0,2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505,71.0,"Arts, Entertainment, and Recreation",09/01/2008,"34.168, -118.3463",34.1680,-118.3463
1,17,SANDRA GUADIANA,4220 MAYCREST AVENUE,LOS ANGELES,90032,71.0,"Arts, Entertainment, and Recreation",11/24/2012,"34.0934, -118.1612",34.0934,-118.1612
2,25,MOST IMPROVED INC,1116 N LIMA STREET,BURBANK,91505,71.0,"Arts, Entertainment, and Recreation",06/27/2013,"34.1713, -118.3448",34.1713,-118.3448
3,30,BURNING FILM PRODUCTION LLC,2931 TILDEN AVENUE,LOS ANGELES,90064,71.0,"Arts, Entertainment, and Recreation",06/26/2015,"34.029, -118.4275",34.0290,-118.4275
4,46,RED HERRING ENTERTAINMENT INC,3142 ROWENA AVENUE #4,LOS ANGELES,90027,71.0,"Arts, Entertainment, and Recreation",10/27/2015,"34.1101, -118.2725",34.1101,-118.2725
...,...,...,...,...,...,...,...,...,...,...,...
487922,569162,E & B NATURAL RESOURCES MANAGEMENT CORPORATION,2126 W ADAMS BLVD,LOS ANGELES,90018,21.0,"Mining, Quarrying, and Oil and Gas Extraction",10/16/2019,"34.0319, -118.3125",34.0319,-118.3125
487923,570318,AVFUEL CORP,47 W ELLSWORTH ROAD,ANN ARBOR,48108,21.0,"Mining, Quarrying, and Oil and Gas Extraction",04/21/2009,"42.2296, -83.73",42.2296,-83.7300
487924,32719,"SPARK ENERGY GAS, LLC",12140 WICKCHESTER LANE SUITE #100,HOUSTON,77079,22.0,Utilities,08/01/2019,"29.789, -95.6017",29.7890,-95.6017
487925,361542,"CALIFORNIA PV ENERGY, LLC",112 E 22ND STREET,SAN PEDRO,90731,22.0,Utilities,06/30/2015,"33.7245, -118.2843",33.7245,-118.2843
487926,506225,"LONE PINE TELEVISION, INC.",223 N JACKSON STREET,LONE PINE,93545,22.0,Utilities,01/01/2014,"36.6071, -118.0631",36.6071,-118.0631

In [29]:
# Export Table to CSV
Final_df.to_csv("BusinessData_Final.csv", index=False)