In [1]:
# Import
import pandas as pd

In [2]:
# Original CSV to DataFrame
full_df = pd.read_csv("Listing_of_Active_Businesses.csv")
full_df.head()

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
0,0000000150-0001-5,A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C,NaN,2015 W TEMPLE STREET,LOS ANGELES,90026-4913,2015 TEMPLE 90026-4913,2607 VAN BUREN PLACE,LOS ANGELES,90007-2129,611000.0,"Educational services (including schools, colle...",13,01/01/1991,NaN,NaN
1,0000000156-0001-2,SPRINGBOARD NON-PROFIT CONSUMER CREDIT MANAGEMENT,MONEY MANAGEMENT INTERNATIONAL,1605 W OLYMPIC BLVD #9023,LOS ANGELES,90015-3828,1605 OLYMPIC 90015-3828,NaN,NaN,NaN,523900.0,Other financial investment activities (includi...,1,02/01/1999,NaN,NaN
2,0002842614-0001-2,AUSTIN B CREEK,NaN,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,3610 MAGNOLIA 91505-2913,NaN,NaN,NaN,711510.0,"Independent artists, writers, & performers",0,09/01/2008,NaN,"(34.168, -118.3463)"
3,0003176540-0001-1,SOEUNG CHAING,CAFECAFE,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,1330 PACIFIC COAST 90744-2467,NaN,NaN,NaN,722211.0,Limited-service eating places,15,01/01/2020,NaN,"(33.7901, -118.2804)"
4,0002728984-0001-8,MARIA ALVAREZ,NaN,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,9625 SYLMAR 91402-1153,NaN,NaN,NaN,561720.0,Janitorial services,6,01/01/2013,NaN,"(34.2447, -118.4476)"

In [3]:
# Column Renames
full_df = full_df.rename(columns={"BUSINESS NAME": "BUSINESS_NAME", "STREET ADDRESS":"STREET_ADDRESS", "PRIMARY NAICS DESCRIPTION": "DESCRIPTION", "LOCATION": "COORDINATES", "ZIP CODE":"ZIPCODE", "LOCATION START DATE": "STARTDATE"})
# Column reorder
Cleaned_df = full_df[["BUSINESS_NAME", "STREET_ADDRESS", "CITY", "ZIPCODE","NAICS","DESCRIPTION", "STARTDATE","COORDINATES"]]
# Data Error Repaired
Cleaned_df = Cleaned_df.replace("A A OFICINA CENTRAL HISPANA DE LOS ANGELES /C",'A A OFICINA CENTRAL HISPANA DE LOS ANGELES')

In [4]:
#Drop Nan
Cleaned_df.dropna(how="any", inplace=True)
Cleaned_df

,BUSINESS_NAME,STREET_ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,STARTDATE,COORDINATES
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",09/01/2008,"(34.168, -118.3463)"
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,01/01/2020,"(33.7901, -118.2804)"
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,01/01/2013,"(34.2447, -118.4476)"
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,05/12/2021,"(33.9603, -118.4471)"
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,03/03/1999,"(34.0528, -118.4699)"
...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,New York,10122-1800,711510.0,"Independent artists, writers, & performers",03/09/2008,"(40.7519, 40.7519)"
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,02/28/2023,"(34.2431, -118.4112)"
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,Valley Village,91607-3704,531390.0,Other activities related to real estate,07/28/2021,"(34.1604, 34.1604)"
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,Los Angeles,90065-1112,454390.0,Other direct selling establishments (including...,02/10/2023,"(34.0953, 34.0953)"
572694,BRIXTON LLC,12192 Ventura,Studio City,91604-2517,448190.0,Other Clothing Stores,12/17/2022,"(34.143, 34.143)"

In [5]:
# Seperating the Naics into just the Sector level
import math

def first_two(d):                
     return (d // 10 ** (int(math.log(d, 10)) - 1))

Cleaned_df['NAICS_SECTOR'] = Cleaned_df.NAICS.apply(first_two)

In [6]:
# Changing the Start Date just to year
Cleaned_df['STARTDATE'] = Cleaned_df['STARTDATE'].str.strip().str[-4:]

In [7]:
# Removing () and spliting coordinates into lat and lng
Cleaned_df['COORDINATES'] = Cleaned_df['COORDINATES'].str.replace('(', '',regex=True)
Cleaned_df['COORDINATES'] = Cleaned_df['COORDINATES'].str.replace(')', '',regex=True)
Cleaned_df[['Lat', 'Lng']] = Cleaned_df.COORDINATES.str.split(",", expand = True)
# Seperating Zipcode to just district area
Cleaned_df[['ZIPCODE1', 'Place Zip']] = Cleaned_df.ZIPCODE.str.rsplit("-",n=1, expand = True)

In [8]:
# Dropping Duplicates
Cleaned_df.drop_duplicates()

,BUSINESS_NAME,STREET_ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,STARTDATE,COORDINATES,NAICS_SECTOR,Lat,Lng,ZIPCODE1,Place Zip
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",2008,"34.168, -118.3463",71.0,34.168,-118.3463,91505,2913
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,2020,"33.7901, -118.2804",72.0,33.7901,-118.2804,90744,2467
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,2013,"34.2447, -118.4476",56.0,34.2447,-118.4476,91402,1153
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,2021,"33.9603, -118.4471",44.0,33.9603,-118.4471,90293,7770
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,1999,"34.0528, -118.4699",62.0,34.0528,-118.4699,90049,6639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,New York,10122-1800,711510.0,"Independent artists, writers, & performers",2008,"40.7519, 40.7519",71.0,40.7519,40.7519,10122,1800
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,2023,"34.2431, -118.4112",81.0,34.2431,-118.4112,91331,6801
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,Valley Village,91607-3704,531390.0,Other activities related to real estate,2021,"34.1604, 34.1604",53.0,34.1604,34.1604,91607,3704
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,Los Angeles,90065-1112,454390.0,Other direct selling establishments (including...,2023,"34.0953, 34.0953",45.0,34.0953,34.0953,90065,1112
572694,BRIXTON LLC,12192 Ventura,Studio City,91604-2517,448190.0,Other Clothing Stores,2022,"34.143, 34.143",44.0,34.143,34.143,91604,2517

In [9]:
# Fixing lat lng datatypes
Cleaned_df["Lat"] = pd.to_numeric(Cleaned_df["Lat"])
Cleaned_df["Lng"] = pd.to_numeric(Cleaned_df["Lng"])
Cleaned_df.dtypes

BUSINESS_NAME      object
STREET_ADDRESS     object
CITY               object
ZIPCODE            object
NAICS             float64
DESCRIPTION        object
STARTDATE          object
COORDINATES        object
NAICS_SECTOR      float64
Lat               float64
Lng               float64
ZIPCODE1           object
Place Zip          object
dtype: object

In [10]:
# Making City names matching format
Cleaned_df['CITY'] = Cleaned_df.loc[:,'CITY'].str.upper()
Cleaned_df

,BUSINESS_NAME,STREET_ADDRESS,CITY,ZIPCODE,NAICS,DESCRIPTION,STARTDATE,COORDINATES,NAICS_SECTOR,Lat,Lng,ZIPCODE1,Place Zip
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505-2913,711510.0,"Independent artists, writers, & performers",2008,"34.168, -118.3463",71.0,34.1680,-118.3463,91505,2913
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744-2467,722211.0,Limited-service eating places,2020,"33.7901, -118.2804",72.0,33.7901,-118.2804,90744,2467
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402-1153,561720.0,Janitorial services,2013,"34.2447, -118.4476",56.0,34.2447,-118.4476,91402,1153
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293-7770,448150.0,Clothing accessories stores,2021,"33.9603, -118.4471",44.0,33.9603,-118.4471,90293,7770
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049-6639,621399.0,Offices of all other miscellaneous health prac...,1999,"34.0528, -118.4699",62.0,34.0528,-118.4699,90049,6639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,NEW YORK,10122-1800,711510.0,"Independent artists, writers, & performers",2008,"40.7519, 40.7519",71.0,40.7519,40.7519,10122,1800
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331-6801,812990.0,All other personal services,2023,"34.2431, -118.4112",81.0,34.2431,-118.4112,91331,6801
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,VALLEY VILLAGE,91607-3704,531390.0,Other activities related to real estate,2021,"34.1604, 34.1604",53.0,34.1604,34.1604,91607,3704
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,LOS ANGELES,90065-1112,454390.0,Other direct selling establishments (including...,2023,"34.0953, 34.0953",45.0,34.0953,34.0953,90065,1112
572694,BRIXTON LLC,12192 Ventura,STUDIO CITY,91604-2517,448190.0,Other Clothing Stores,2022,"34.143, 34.143",44.0,34.1430,34.1430,91604,2517

In [11]:
# Make all Sectors that are the same but with different numbers the same number for visual ease
Cleaned_df = Cleaned_df.replace(32.0,31.0)
Cleaned_df = Cleaned_df.replace(33.0,31.0)
Cleaned_df = Cleaned_df.replace(45.0,44.0)
Cleaned_df = Cleaned_df.replace(49.0,48.0)

In [12]:
Cleaned_df = Cleaned_df[["BUSINESS_NAME", "STREET_ADDRESS", "CITY", "ZIPCODE1","NAICS","DESCRIPTION", "NAICS_SECTOR", "STARTDATE","Lat","Lng"]]
Cleaned_df

,BUSINESS_NAME,STREET_ADDRESS,CITY,ZIPCODE1,NAICS,DESCRIPTION,NAICS_SECTOR,STARTDATE,Lat,Lng
2,AUSTIN B CREEK,3610 W MAGNOLIA BLVD,BURBANK,91505,711510.0,"Independent artists, writers, & performers",71.0,2008,34.1680,-118.3463
3,SOEUNG CHAING,1330 W PACIFIC COAST HIGHWAY SUITE #E,WILMINGTON,90744,722211.0,Limited-service eating places,72.0,2020,33.7901,-118.2804
4,MARIA ALVAREZ,9625 SYLMAR AVENUE UNIT #23,PANORAMA CITY,91402,561720.0,Janitorial services,56.0,2013,34.2447,-118.4476
5,BELINDA MIXON-JOY,327 CULVER BLVD UNIT #4,PLAYA DEL REY,90293,448150.0,Clothing accessories stores,44.0,2021,33.9603,-118.4471
9,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049,621399.0,Offices of all other miscellaneous health prac...,62.0,1999,34.0528,-118.4699
...,...,...,...,...,...,...,...,...,...,...
572688,"S&C PRODUCTIONS, INC.",225 W 34th #1800,NEW YORK,10122,711510.0,"Independent artists, writers, & performers",71.0,2008,40.7519,40.7519
572689,OSCAR MARCELO CALDERON,12711 BRANFORD STREET #105G,PACOIMA,91331,812990.0,All other personal services,81.0,2023,34.2431,-118.4112
572690,DIAZ ALEXANDER STUDIO LLC,4935 Agnes,VALLEY VILLAGE,91607,531390.0,Other activities related to real estate,53.0,2021,34.1604,34.1604
572692,SPOMAX INTERNATIONAL INC,1201 Cypress,LOS ANGELES,90065,454390.0,Other direct selling establishments (including...,44.0,2023,34.0953,34.0953
572694,BRIXTON LLC,12192 Ventura,STUDIO CITY,91604,448190.0,Other Clothing Stores,44.0,2022,34.1430,34.1430

In [46]:
# Dropping non LA data
Cleaned_df.drop(Cleaned_df[Cleaned_df['CITY'] != "LOS ANGELES"].index, inplace = True)
Cleaned_df.drop(Cleaned_df[Cleaned_df['ZIPCODE1'] <= "90000"].index, inplace = True)

In [14]:
# Building Sector Dataframe
d={"NAICS_SECTOR":[11.0,21.0,22.0,23.0,31.0,42.0,44.0,48.0,51.0,52.0,53.0,54.0,55.0,56.0,61.0,62.0,71.0,72.0,81.0,92.0],
                              "INDUSTRY_DESCRIPTION":["Agriculture, Forestry, Fishing and Hunting","Mining, Quarrying, and Oil and Gas Extraction",
                                                     "Utilities","Construction","Manufacturing", "Wholesale Trade",
                                                     "Retail Trade","Transportation and Warehousing",
                                                     "Information", "Finance and Insurance", "Real Estate and Rental and Leasing", "Professional, Scientific, and Technical Services",
                                                     "Management of Companies and Enterprises", "Administrative and Support and Waste Management and Remediation Services",
                                                     "Educational Services","Health Care and Social Assistance","Arts, Entertainment, and Recreation",
                                                     "Accommodation and Food Services","Other Services (except Public Administration)","Public Administration"]}
Sector_df = pd.DataFrame(data=d)
Sector_df

    NAICS_SECTOR                               INDUSTRY_DESCRIPTION
0           11.0         Agriculture, Forestry, Fishing and Hunting
1           21.0      Mining, Quarrying, and Oil and Gas Extraction
2           22.0                                          Utilities
3           23.0                                       Construction
4           31.0                                      Manufacturing
5           42.0                                    Wholesale Trade
6           44.0                                       Retail Trade
7           48.0                     Transportation and Warehousing
8           51.0                                        Information
9           52.0                              Finance and Insurance
10          53.0                 Real Estate and Rental and Leasing
11          54.0   Professional, Scientific, and Technical Services
12          55.0            Management of Companies and Enterprises
13          56.0  Administrative and Support and Waste Managemen...
14          61.0                               Educational Services
15          62.0                  Health Care and Social Assistance
16          71.0                Arts, Entertainment, and Recreation
17          72.0                    Accommodation and Food Services
18          81.0      Other Services (except Public Administration)
19          92.0                              Public Administration

In [47]:
# Joining information
merged_df = pd.merge(Cleaned_df, Sector_df, on='NAICS_SECTOR', how='inner')
# Reordering of DataFrame
Final_df = merged_df[["BUSINESS_NAME", "STREET_ADDRESS", "CITY", "ZIPCODE1", "NAICS_SECTOR", "INDUSTRY_DESCRIPTION", "STARTDATE","Lat","Lng"]]
Final_df.head()

,BUSINESS_NAME,STREET_ADDRESS,CITY,ZIPCODE1,NAICS_SECTOR,INDUSTRY_DESCRIPTION,STARTDATE,Lat,Lng
0,GARY JOSEPH PENN,11911 SAN VICENTE BLVD SUITE #250,LOS ANGELES,90049,62.0,Health Care and Social Assistance,1999,34.0528,-118.4699
1,CHARLE'S RESIDENTIAL CARE,21001 SANTA MONICA,LOS ANGELES,90025,62.0,Health Care and Social Assistance,2018,34.0454,-118.4502
2,RHONDA B. BERNSTEIN,1626 N FULLER AVENUE APT #302,LOS ANGELES,90046,62.0,Health Care and Social Assistance,2019,34.1006,-118.3486
3,DR KATERINA DENTAL CORPORATION,4214 BEVERLY BLVD SUITE #209,LOS ANGELES,90004,62.0,Health Care and Social Assistance,2021,34.0760,-118.3010
4,DOCTORS OUTPATIENT CENTER FOR SURGERY INC,8436 W 3RD STREET SUITE #700,LOS ANGELES,90048,62.0,Health Care and Social Assistance,2016,34.0729,-118.3745

In [51]:
# Export Table to CSV
Final_df.to_csv("LABusinessData_Final.csv", index=False)

In [50]:
# Json method index
# Final_df.to_json('forMapindex.json', orient='index')
# Json method given by tutor, records
# Final_df.to_json('BusinessData.json', orient='records', lines=True)

In [48]:
#GroupBy Attempt
first = Final_df.groupby(['ZIPCODE1',"NAICS_SECTOR"])["BUSINESS_NAME"].count()
first

ZIPCODE1  NAICS_SECTOR
90001     11.0              2
          23.0            132
          31.0            189
          42.0            135
          44.0            286
                         ...
92705     53.0              1
93021     42.0              1
93308     56.0              1
93534     54.0              1
94960     81.0              1
Name: BUSINESS_NAME, Length: 1247, dtype: int64

In [35]:
# Attempted Json
# first.to_json('forBarcolumns.json', orient='columns')